h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(41, 91, 137);
  }
  body{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 221, 226);
  }
  .uploadFile{
    border: dashed rgb(41, 91, 137);
    /* display:flex; */
    border-radius: 10px;
    /* padding:50px; */
    height: 200px;
    width: 600px;
    padding:30px ;
    /* align-items: center;
    justify-content: center; */
  }
.image{
    cursor: pointer;
    /* height: 200px; */
    font-size: 20rem;
    transform: scale(3);
    color: rgb(41, 91, 137);;
}
.download{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.fileInp{
    display: none;
}
    

.filelabel{
  cursor: pointer;
    text-decoration: underline;
}
.btn{
  background-color: rgb(41, 91, 137);;
}

.red-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.blue-circle {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.green-circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.bullets{
  display: flex;
  align-items: center;
}
